DATAAPI_URL=https://us-west-2.aws.data.mongodb-api.com/app/data-fbzehdl/endpoint/data/v1
APIKEY=<NICE_TRY_HACKERS>
AUDIENCE=https://dev-qx1mijjm2d37sd8u.us.auth0.com/api/v2/
ISSUER=https://dev-qx1mijjm2d37sd8u.us.auth0.com/
JWKSURI=https://dev-qx1mijjm2d37sd8u.us.auth0.com/.well-known/jwks.json